<div class="container">
  <h1>{{ site.title }}</h1>
  <div class="top_nav">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/news/">News</a></li>
      <li><a href="{{ site.baseurl }}/installation_shots.html">Portfolio</a></li>
      <li><a href="{{ site.baseurl }}/pdf/cv.pdf">Curriculum Vitae</a></li>
      <li><a href="mailto:megan@meganeuker.com">Contact</a></li>
      <li><a href="{{ site.baseurl }}/links/">Links</a></li>
    </ul>
  </div>
  <div class="slim">
    <ul class="nav">
      {% for gallery in site.data.galleries %}
      <li><a href="{{ site.baseurl}}/{{ gallery.id }}.html">{{ gallery.description }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="wide">
