---
layout: default
---

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/lightbox.min.js"></script>

<div>
  {% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
  {% for image in gallery.images %}
  <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" data-title="{{ image.text }}" title="{{ image.text }}">
    <img src="{{ gallery.imagefolder }}/{{ image.thumb }}" alt="">
  </a>
  {% endfor %}
  {% endif %}
  {% endfor %}
</div>
